---
import { Image } from 'astro:assets';
import logoImg from '../assets/golf-logo.png';

const footerLinks = [
  { label: 'Course', href: '#course' },
  { label: 'Practice', href: '#practice' },
  { label: 'Prices', href: '#prices' },
  { label: 'Hours', href: '#hours' }
];
---

<footer class="bg-primary-darkGreen text-white py-12">
  <div class="container mx-auto px-4">
  <div class="flex flex-col sm:flex-row justify-between gap-8 mb-8">
      <div>
        <Image 
          src={logoImg} 
          alt="Company Logo Image" 
          class="rounded-lg"
          width={48}
          height={48}
        />
        <p class="font-serif font-bold pt-2 text-xl">Milt's Golf Center</p>
        <p class="text-sm pt-2">6402 Q Street</p>
        <p class="text-sm pt-2">Omaha, NE 68117</p>
        <p class="text-sm pt-2">(402) 731-2001</p>
      </div>
      <div class="sm:ml-auto lg:text-right">
        <h3 class="text-lg font-semibold mb-4">Quick Links</h3>
        <ul class="space-y-2">
          {footerLinks.map((link) => (
            <li>
              <a href={link.href} class="text-sm hover:text-primary-300">{link.label}</a>
            </li>
          ))}
        </ul>
      </div>
    </div>
    <div class="pt-8 flex flex-col md:flex-row justify-between items-center">
      <p class="text-sm mb-4 md:mb-0">&copy; 2024 Nick Fuller Inc. All rights reserved.</p>
    </div>
  </div>
</footer>
