---

---

<section class="bg-gray-100 pb-20" id="hours">
  <div class="container mx-auto px-4">
    <h2 class="text-3xl font-serif font-bold text-center mb-12">Hours</h2>
    <div class="flex flex-col md:flex-row gap-8 md:gap-8 justify-center items-stretch">
      <div class="flex-1 min-w-0">
        <div class="bg-white rounded-lg shadow-lg p-8 h-full flex flex-col mx-4">
          <h2 class="text-xl font-serif font-bold text-center mb-6">Par 3 Course</h2>
          <p class="text-gray-600 italic mb-4 text-center">8:00 AM - 6:00 PM M-Sat.</p>
          <p class="text-gray-600 italic mb-4 text-center">8:00 AM - 5:00 PM Sunday</p>
          <p class="text-gray-600 italic mb-4 text-center">(weather permitting)</p>
        </div>
      </div>
      <div class="flex-1 min-w-0">
        <div class="bg-white rounded-lg shadow-lg p-8 h-full flex flex-col mx-4">
          <h2 class="text-xl font-serif font-bold text-center mb-6">Driving Range</h2>
          <p class="text-gray-600 italic mb-4 text-center">8:00 AM - 30 minutes before sunset</p>
          <p class="text-gray-600 italic mb-4 text-center">(weather permitting)</p>
        </div>
      </div>
    </div>
    </div>
  </div>
</section>
