<section class="bg-gray-100 py-20" id="prices">
  <div class="container mx-auto px-4">
    <h2 class="text-3xl font-serif font-bold text-center mb-12">Prices</h2>
    <div class="max-w-4xl mx-auto flex flex-col gap-8 lg:flex-row lg:gap-12">
      {/* Par 3 Course Table */}
      <table class="w-full lg:w-1/2 border border-primary-gray rounded-lg overflow-hidden mb-8 lg:mb-0 border-separate border-spacing-0">
        <thead>
          <tr>
            <th colspan="2" class="bg-primary-lightGreen text-primary-white text-lg font-bold py-3 text-center">Par 3 Course</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="py-2 px-4 border border-primary-gray">9 holes</td>
            <td class="py-2 px-4 border border-primary-gray">$12</td>
          </tr>
          <tr>
            <td class="py-2 px-4 border border-primary-gray">Junior and Senior</td>
            <td class="py-2 px-4 border border-primary-gray">$10</td>
          </tr>
          <tr>
            <td class="py-2 px-4 border border-primary-gray">Additional 9 holes</td>
            <td class="py-2 px-4 border border-primary-gray">$6</td>
          </tr>
          <tr>
            <td class="py-2 px-4 border border-primary-gray">Pull Cart</td>
            <td class="py-2 px-4 border border-primary-gray">$2</td>
          </tr>
          <tr>
            <td class="py-2 px-4 border border-primary-gray">Riding Cart</td>
            <td class="py-2 px-4 border border-primary-gray">$12</td>
          </tr>
          <tr>
            <td class="py-2 px-4 border border-primary-gray">Club Rental</td>
            <td class="py-2 px-4 border border-primary-gray">$2</td>
          </tr>
        </tbody>
      </table>

      {/* Driving Range Buckets Table */}
      <table class="w-full lg:w-1/2 border border-primary-gray rounded-lg overflow-hidden border-separate border-spacing-0">
        <thead>
          <tr>
            <th colspan="2" class="bg-primary-lightGreen text-primary-white text-lg font-bold py-3 text-center">Driving Range Buckets</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="py-2 px-4 border border-primary-gray">Small</td>
            <td class="py-2 px-4 border border-primary-gray">$5</td>
          </tr>
          <tr>
            <td class="py-2 px-4 border border-primary-gray">Large</td>
            <td class="py-2 px-4 border border-primary-gray">$10</td>
          </tr>
          <tr>
            <td class="py-2 px-4 border border-primary-gray">Jumbo</td>
            <td class="py-2 px-4 border border-primary-gray">$15</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
